numpy
pandas
matplotlib
seaborn
python-dotenv
chromadb
langchain-openai
langchain-community
langchain-core
langchain-classic
langchain-text-splitters
langchain-experimental

# Embeddings
transformers
huggingface_hub[hf_xet]
langchain-huggingface
sentence-transformers
#faiss-gpu
faiss-cpu
rank_bm25

# for integrated intel gpu
# optimum[openvino,nncf] # use it if you are using integrated graphics