numpy
pandas
matplotlib
seaborn
python-dotenv
chromadb
langchain-openai
langchain-community
langchain-core
langchain-classic 
langchain-text-splitters

# Embeddings
langchain-huggingface
sentence-transformers
#faiss-gpu
faiss-cpu

# for integrated intel gpu
optimum[openvino,nncf]